html,
body {
	background:#eee;
	height:100%;
}

#container {
	background:#fff;
	border-top:30px solid #888;
	margin:30px auto;
	height:100%;
	width:940px;
	padding:20px;
}

#slider-wrapper {
	height:400px;
}

.home-link {
	font-family:arial;
	color:#aaa;
	text-align:center;
	margin: 20px 0;
	font-size:12px;
	width:100%;
	display:block;
}